body {
    background-color: rgb(100, 98, 98); /* cor do fundo */
    font-family: "Caveat", cursive;
    background-image: url("https://i.pinimg.com/1200x/2e/d0/e0/2ed0e0da145d51ef1da2e6b44994b0fa.jpg");

}

li {
    color: aliceblue;
}

h3{
    color: aliceblue;
}
