h1 {
    color: red;
  }
  
 /* Any button over which the user's pointer is hovering */
  #title:hover {
  color: rgb(255, 255, 255);
  } 


  .destaque {
    color: rgb(81, 81, 81);
  }

  img{
    width: 550px;  
    height: 400px;   

  }

  body {
    background-color: rgb(100, 98, 98); /* cor do fundo */
    font-family: "Caveat", cursive;
    text-align: center;
    background-image: url("https://i.pinimg.com/1200x/2e/d0/e0/2ed0e0da145d51ef1da2e6b44994b0fa.jpg");
    height:95vh;
    width: 97%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
   background-attachment: fixed;
}


  
