h1 {
    color: rgb(255, 0, 0);
  }
  
 /* Any button over which the user's pointer is hovering */
  #title:hover {
  color: rgb(0, 0, 0);
  } 


  p {
    color: rgb(38, 38, 38);
  }

  h3 {
    color: rgb(38, 38, 38);
  }

  img{
    width: 550px;  
    height: 400px;   

  }

  body {
    background-color: rgb(100, 98, 98); /* cor do fundo */
  }

  body {
    font-family: 'FonteEscolhida', sans-serif;
  }
  
  
  .destaque{
  color: rgb(38, 38, 38);
  }
  
  
