h1 {
    color: rgb(255, 0, 0);
  }
  
 /* Any button over which the user's pointer is hovering */
  #title:hover {
  color: rgb(0, 0, 0);
  } 

.title {
  color: red;
}


  p {
    color: rgb(38, 38, 38);
  }

  h3 {
    color: rgb(38, 38, 38);
  }

  img{
    width: 550px;  
    height: 400px;   

  }

  body {
    font-family: 'FonteEscolhida', sans-serif;
    text-align: center;
    background-color: aliceblue;
  }
  
  
  .destaque{
  color: rgb(38, 38, 38);
  }
  
  
